<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <!-- one way pass values to component -->
        <hero-item
                img="https://unsplash.it/1200/500/?random"
                heading="Welcome to Angular Base"
        ></hero-item>

        <content-item>
            <content>
                <h1>What is this?</h1>

                <p>
                    Angular base is a project developed by
                    <a href="#">Nathan Nelson</a> to help get Java n00bs get started with JavaScript structure and single page apps in Angular.
                </p>
            </content>
        </content-item>

    </div>
</script>