<script type="text/ng-template" id="jobs.html">
    <div class="jobs">
        <div class="list-title">

            <div class="container">Jobs
            </div>
        </div>

        <div class="container">
            <div class="jobs-list">
                <div class="list-item"
                     ng-repeat="job in jobs.jobs"
                     ui-sref="job({id:job.id})"
                >
                    <div class="list-icon">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="list-content">
                        <div class="content-title">{{job.role}}</div>
                        <div class="content-subtitle">{{job.company}}</div>
                    </div>
                    <div class="list-arrow"><i class="fa fa-angle-right"></i></div>
                </div>

            </div>
        </div>
    </div>
</script>