header-item {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    z-index: 100;
    transform: translateY(-60px);

    //background: white;
    background: rgba(0, 0, 0, 0.1);
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: .6s ease-out;
    color: white;

    &.active {
      transform: translateY(0px);
    }

    .back-arrow {
      font-size: 20px;
      cursor: pointer;
      width: 45px;
      text-align: center;
      margin-left: -15px;
    }

    .header-menu {
      position: absolute;
      right: 0;
      top: 0;

      .menu-item {
        float: left;
        line-height: 48px;
        padding: 0 20px;
        border-bottom: 2px solid white;
        transition: .3s;
        cursor: pointer;

        &:hover {
          border-bottom: 2px solid #ccc;
        }

        &.active {
          border-bottom: 2px solid $body;
        }
      }
    }
  }
}