<script type="text/ng-template" id="documents-screen.html">
    <div screen="verify">

        <hero-item
                heading="Documents"
                subheading="Powered by Oracle Cloud"
        ></hero-item>

        <documents-item>
            <docs-list>
                <div ng-hide="isRecruiter()">
                    <div class="documents-list">
                        <div class="list-title">Your Docs</div>

                        <doc icon="folder" name="Candidate">
                            <doc-content>
                                <doc icon="file-text" name="CV.pdf"></doc>
                                <doc icon="file-text" name="Offer Letter.pdf" signed="true"></doc>
                                <doc icon="file-text" name="Pension Form.pdf" signed="true"></doc>
                                <doc icon="file-text" name="P46.pdf" signed="true"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="folder" name="Company">
                            <doc-content>
                                <doc icon="file-text" name="Company Structure.pdf"></doc>
                                <doc icon="play-circle" name="Company Intro Video.mpg"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="file-text" name="Interview Tips.pdf"></doc>
                        <doc icon="file-text" name="Refer A Friend.pdf"></doc>
                    </div>
                </div>


                <div ng-show="isRecruiter()">
                    <div class="documents-list">
                        <div class="list-title">Shared Docs</div>
                        <doc icon="folder" name="Candidate">
                            <doc-content>
                                <doc icon="file-text" name="CV.pdf"></doc>
                                <doc icon="file-text" name="Offer Letter.pdf" signed="true"></doc>
                                <doc icon="file-text" name="Pension Form.pdf" signed="true"></doc>
                                <doc icon="file-text" name="P46.pdf" signed="true"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="folder" name="Company">
                            <doc-content>
                                <doc icon="file-text" name="Company Structure.pdf"></doc>
                                <doc icon="play-circle" name="Company Intro Video.mpg"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="file-text" name="Interview Tips.pdf"></doc>
                        <doc icon="file-text" name="Refer A Friend.pdf"></doc>
                    </div>

                    <div class="documents-list">
                        <div class="list-title">Your Docs</div>
                        <doc icon="folder" name="Companies">
                            <doc-content>
                                <doc icon="folder" name="Nike">
                                    <doc-content>
                                        <doc icon="file-text" name="Company Structure.pdf"></doc>
                                        <doc icon="play-circle" name="Company Intro Video.mpg"></doc>
                                    </doc-content>
                                </doc>
                                <doc icon="folder" name="Aviva"></doc>
                                <doc icon="folder" name="T-Mobile"></doc>
                                <doc icon="folder" name="Oracle"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="folder" name="Standard Docs">
                            <doc-content>
                                <doc icon="file-text" name="CV Template.pdf"></doc>
                                <doc icon="file-text" name="Offer Letter.pdf"></doc>
                                <doc icon="file-text" name="Interview Tips.pdf"></doc>
                                <doc icon="file-text" name="Refer A Friend.pdf"></doc>
                            </doc-content>
                        </doc>
                    </div>
                </div>
            </docs-list>
        </documents-item>
    </div>
</script>