<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<base href="/">-->

    <title>Insignio</title>
    <!--<title><%= title %></title>-->
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/lib.css?12345"/>
    <link rel="stylesheet" href="public/app.css?12345"/>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,600,400italic,600italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body data-ng-app="app">

<header-item></header-item>
<sidebar-item></sidebar-item>
<alert-item></alert-item>

<!-- screen contents -->
<div ui-view></div>


<script type="text/ng-template" id="alert.html">
    <div class="alert-msg" ng-class="{active:alert.isActive()}">
        {{alert.getContent()}}
    </div>
</script>
<script type="text/ng-template" id="choice.html">
    <div class="choice">
        <div class="container">
            <div class="choice-list">
                <div class="list-item">
                    <div class="item-content" ui-sref="documents({id:choice.userId})">
                        <img src="public/svg/cloud.svg" alt="">
                        ORACLE document repository
                    </div>
                </div>
                <div class="list-item" ui-sref="signedDocs({id:choice.userId})">
                    <div class="item-content">
                        <img src="public/svg/sign-2.svg" alt="">
                        Signed documents
                    </div>
                </div>
                <div class="list-item" ui-sref="verify({id:choice.userId})">
                    <div class="item-content">
                        <img src="public/svg/verify.svg" alt="">
                        Verify ID
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/messages.svg" alt="">
                        Messages
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/contact.svg" alt="">
                        Contact Details
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/calendar.svg" alt="">
                        Calendar
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/skills.svg" alt="">
                        Skills
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/link.svg" alt="">
                        External Services
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/phone-call.svg" alt="">
                        Call Candidate
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="calendar.html">
    <div class="calendar">
        <div class="calendar-banner" ng-class="{small:!calendar.img}">
            <div class="banner-overlay">
                <img src="http://patrickbeser.com/img/portrait-2015.jpg" alt="" ng-if="calendar.img">
                {{calendar.heading}}
                <div class="sub" ng-if="calendar.subheading">{{calendar.subheading}}</div>
            </div>


        </div>
    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div class="header" ng-class="{active:header.isVisible()}">
        <div class="container" style="text-align: center">
            <i class="fa fa-angle-left pull-left back-arrow"
               onclick="javascript:history.back();"
               ng-class="{active:header.isBack()}"
            ></i>

            <span ui-sref="home" style="cursor: pointer">
                <img src="public/svg/pen.svg" alt="" style="height: 20px;margin-right: 10px">
                Insignio
            </span>


            <i class="fa fa-bars pull-right" ng-click="header.showSidebar()" style="font-size: 20px;cursor: pointer;"></i>

            <!--<div class="header-menu">-->
            <!--<div class="menu-item"-->
            <!--ng-repeat="page in header.getPages()"-->
            <!--ng-click="header.setPage(page.slug)"-->
            <!--ng-class="{active:header.isCurrentPage(page.slug)}"-->
            <!--&gt;{{page.name}}</div>-->
            <!--</div>-->
        </div>


    </div>
</script>
<script type="text/ng-template" id="documents.html">
    <div class="documents">
        <div class="container">
            <div class="documents-upload" ng-hide="documents.signed">
                <div class="upload-button">
                    Upload &nbsp; <i class="fa fa-upload"></i>
                </div>
                <div class="upload-button">
                    Share &nbsp; <i class="fa fa-share-alt"></i>
                </div>

            </div>

            <div ng-transclude="docsList">

            </div>

        </div>
    </div>
</script>

<script type="text/ng-template" id="doc.html">

    <i class="fa fa-{{doc.icon}}"></i>
    <div>{{doc.name}}</div>
    <div class="signed" ng-if="doc.signed">
        <div class="fa-stack fa-lg">
            <i class="fa fa-certificate fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
        </div>
        &nbsp; signed
    </div>

    <div class="doc-content" ng-transclude="docContent"></div>
</script>
<script type="text/ng-template" id="hero.html">
    <div class="hero">
        <div class="hero-banner" ng-class="{small:!hero.img}">
            <div class="banner-overlay">
                <img src="http://patrickbeser.com/img/portrait-2015.jpg" alt="" ng-if="hero.img">
                {{hero.heading}}
                <div class="sub" ng-if="hero.subheading">{{hero.subheading}}</div>
            </div>


        </div>
    </div>
</script>
<script type="text/ng-template" id="jobs.html">
    <div class="jobs">
        <div class="list-title">

            <div class="container">Jobs
            </div>
        </div>

        <div class="container">
            <div class="jobs-list">
                <div class="list-item"
                     ng-repeat="job in jobs.jobs"
                     ui-sref="job({id:job.id})"
                >
                    <div class="list-icon">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="list-content">
                        <div class="content-title">{{job.role}}</div>
                        <div class="content-subtitle">{{job.company}}</div>
                    </div>
                    <div class="list-arrow"><i class="fa fa-angle-right"></i></div>
                </div>

            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="new.html">
    <div class="new">
        <h1>Add User</h1>
        <div class="new-window">
            <h3>First Name</h3>
            <input type="text" placeholder="John" ng-model="new.firstName">

            <h3>Last Name</h3>
            <input type="text" placeholder="Smith" ng-model="new.lastName">

            <h3>Email</h3>
            <input type="text" placeholder="example@example.com" ng-model="new.email">

            <h3>Job Description</h3>
            <input type="text" placeholder="Java Developer" ng-model="new.role" ng-enter="new.addUser()">

            <div class="add-user" ng-click="new.addUser()">Add Candidate &nbsp; <i class="fa fa-check"></i></div>

        </div>

        <div class="users-add">

        </div>
    </div>
</script>
<script type="text/ng-template" id="sidebar.html">
    <div class="sidebar-bg" ng-class="{active:sidebar.isActive()}" ng-click="sidebar.hide()"></div>

    <div class="sidebar" ng-class="{active:sidebar.isActive()}">
        <div class="sidebar-header">
            <div class="close-sidebar" ng-click="sidebar.hide()">
                <i class="fa fa-times"></i>
            </div>
        </div>

        <div class="sidebar-items">
            <div class="sidebar-item" ui-sref="home"><i class="fa fa-home"></i> Home</div>
            <div class="sidebar-item"><i class="fa fa-cog"></i> My Details</div>
            <div class="sidebar-item" ui-sref="splash"><i class="fa fa-sign-out"></i> Logout</div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="splash.html">
    <div class="splash" ng-class="{active:splash.isActive()}">
        <div class="splash-header">
            <img src="public/svg/pen.svg" alt="" style="height: 60px;">
            Insignio</div>
        <div class="splash-form">
            <div class="form-label">
                <input type="text" class="form-input" placeholder="Your User" ng-model="splash.user" ng-enter="splash.validate()">
                <div class="form-line"></div>
                <input type="password" class="form-input" placeholder="Your Password" ng-model="splash.pass" ng-enter="splash.validate()">

                <div class="form-btn" ng-click="splash.validate()">Login</div>

                <div class="form-forgot">Forgot Password?</div>

            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="users.html">
    <div class="users">
        <div class="list-title">

            <div class="container">users
            </div>
        </div>

        <div class="container">
            <div class="users-list">
                <div class="list-item"
                     ng-repeat="user in users.users"
                     ui-sref="user({id:user.id})"
                >
                    <div class="list-content">
                        <div class="content-title">{{user.name}}</div>
                        <div class="content-subtitle">{{user.job}}</div>
                    </div>
                    <div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 0">Not Contacted</div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 1">Interview</div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 2">Pending Response</div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 3">Offer</div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 4">Accepted</div>

                    </div>
                    <div class="list-arrow"><i class="fa fa-angle-right"></i></div>
                </div>

            </div>
        </div>

        <div class="users-add">
            <div class="add-user" ui-sref="new">New Candidate &nbsp; <i class="fa fa-user-plus"></i></div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="verify-id.html">
    <div class="container">
        <div class="verify-id">

            <div class="verify-item">
                <div style="position: relative" ng-if="verify.getImages()[0]">
                    <img ng-src="{{verify.getImages()[0]}}">
                </div>

                <div ng-if="!verify.getImages()[0]" class="item-msg">
                    Please upload a passport style portrait photo.
                </div>

                <label for="imgProfile">Upload Profile Picture &nbsp; <i class="fa fa-upload"></i></label>
                <input id="imgProfile" type="file" custom-on-change="verify.changeProfile" accept="image/*">
            </div>

            <div class="verify-item">
                <div style="position: relative" ng-if="verify.getImages()[1]">
                    <fake-loader></fake-loader>
                    <div class="fake-loader-1">
                        <h2>
                            <p>
                                Verifying... ID <br> <i class="fa fa-spin fa-cog" style="line-height: inherit"></i>
                            </p>
                        </h2>
                    </div>
                    <img class="fake-loader-2" style="display: none" ng-src="{{verify.getImages()[1]}}">
                </div>

                <div ng-if="!verify.getImages()[1]" class="item-msg">
                    Please upload a picture of your driving licence, birth certificate or passport.
                </div>

                <label for="imgID">Upload Proof of ID &nbsp; <i class="fa fa-upload"></i></label>
                <input id="imgID" type="file" custom-on-change="verify.changeID" accept="image/*">
            </div>


        </div>
    </div>

</script>
<script type="text/ng-template" id="documents-screen.html">
    <div screen="verify">

        <hero-item
                heading="Documents"
                subheading="Powered by Oracle Cloud"
        ></hero-item>

        <documents-item>
            <docs-list>
                <div ng-hide="isRecruiter()">
                    <div class="documents-list">
                        <div class="list-title">Your Docs</div>

                        <doc icon="folder" name="Candidate">
                            <doc-content>
                                <doc icon="file-text" name="CV.pdf"></doc>
                                <doc icon="file-text" name="Offer Letter.pdf" signed="true"></doc>
                                <doc icon="file-text" name="Pension Form.pdf" signed="true"></doc>
                                <doc icon="file-text" name="P46.pdf" signed="true"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="folder" name="Company">
                            <doc-content>
                                <doc icon="file-text" name="Company Structure.pdf"></doc>
                                <doc icon="play-circle" name="Company Intro Video.mpg"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="file-text" name="Interview Tips.pdf"></doc>
                        <doc icon="file-text" name="Refer A Friend.pdf"></doc>
                    </div>
                </div>


                <div ng-show="isRecruiter()">
                    <div class="documents-list">
                        <div class="list-title">Shared Docs</div>
                        <doc icon="folder" name="Candidate">
                            <doc-content>
                                <doc icon="file-text" name="CV.pdf"></doc>
                                <doc icon="file-text" name="Offer Letter.pdf" signed="true"></doc>
                                <doc icon="file-text" name="Pension Form.pdf" signed="true"></doc>
                                <doc icon="file-text" name="P46.pdf" signed="true"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="folder" name="Company">
                            <doc-content>
                                <doc icon="file-text" name="Company Structure.pdf"></doc>
                                <doc icon="play-circle" name="Company Intro Video.mpg"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="file-text" name="Interview Tips.pdf"></doc>
                        <doc icon="file-text" name="Refer A Friend.pdf"></doc>
                    </div>

                    <div class="documents-list">
                        <div class="list-title">Your Docs</div>
                        <doc icon="folder" name="Companies">
                            <doc-content>
                                <doc icon="folder" name="Nike">
                                    <doc-content>
                                        <doc icon="file-text" name="Company Structure.pdf"></doc>
                                        <doc icon="play-circle" name="Company Intro Video.mpg"></doc>
                                    </doc-content>
                                </doc>
                                <doc icon="folder" name="Aviva"></doc>
                                <doc icon="folder" name="T-Mobile"></doc>
                                <doc icon="folder" name="Oracle"></doc>
                            </doc-content>
                        </doc>

                        <doc icon="folder" name="Standard Docs">
                            <doc-content>
                                <doc icon="file-text" name="CV Template.pdf"></doc>
                                <doc icon="file-text" name="Offer Letter.pdf"></doc>
                                <doc icon="file-text" name="Interview Tips.pdf"></doc>
                                <doc icon="file-text" name="Refer A Friend.pdf"></doc>
                            </doc-content>
                        </doc>
                    </div>
                </div>
            </docs-list>
        </documents-item>
    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <hero-item
                heading="Your Candidates"
        ></hero-item>

        <users-item
                users="getUsers()"
        ></users-item>

    </div>
</script>
<script type="text/ng-template" id="job-screen.html">
    <div screen="job">

        <hero-item
                heading="{{getJob().role}}"
                subheading="{{getJob().company}}"
        ></hero-item>

        <choice-item job-id="{{getJob().id}}">

        </choice-item>



    </div>
</script>
<script type="text/ng-template" id="new-screen.html">
    <div screen="new">

        <new-item></new-item>
    </div>
</script>
<script type="text/ng-template" id="signed-docs-screen.html">
    <div screen="verify">

        <hero-item
                heading="Signed Documents"
                subheading="Powered by Oracle Cloud"
        ></hero-item>

        <documents-item signed="true">
            <docs-list>
                <div class="documents-list">
                    <div class="list-title">Your Docs</div>

                    <doc icon="file-text" name="Offer Letter.pdf" signed="true"></doc>
                    <doc icon="file-text" name="Pension Form.pdf" signed="true"></doc>
                    <doc icon="file-text" name="P46.pdf" signed="true"></doc>
                </div>
            </docs-list>
        </documents-item>
    </div>
</script>
<script type="text/ng-template" id="splash-screen.html">
    <div screen="splash">
        <splash-item></splash-item>

    </div>
</script>
<script type="text/ng-template" id="user-screen.html">
    <div screen="user">

        <hero-item
                heading="{{getUser().name}}"
                subheading="{{getUser().job}}"
        ></hero-item>

        <choice-item user-id="{{getUser().id}}">

        </choice-item>

    </div>
</script>
<script type="text/ng-template" id="verify-screen.html">
    <div screen="verify">

        <hero-item
                heading="Verify Your ID"
                subheading=""
        ></hero-item>

        <verify-id-item></verify-id-item>
    </div>
</script>
<script src="public/lib.js?12345"></script>
<script src="public/app.js?12345"></script>

</body>
</html>