<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <base href="/">

    <title>Angular Base</title>
    <title><%= title %></title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,600,400italic,600italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body data-ng-app="app">

<header-item></header-item>

<!-- screen contents -->
<div ui-view></div>


<script type="text/ng-template" id="content.html">
    <div class="content">
        <div class="container">
            <div ng-transclude="content"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div class="header">
        <div class="container">
            <strong>Angular Base</strong>

            <div class="header-menu">
                <div class="menu-item"
                     ng-repeat="page in header.getPages()"
                     ng-click="header.setPage(page.slug)"
                     ng-class="{active:header.isCurrentPage(page.slug)}"
                >{{page.name}}</div>
            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="hero.html">
    <div class="hero">
        <div class="hero-banner" style="background-image: url('{{hero.img}}')">
            <div class="banner-overlay">
                {{hero.heading}}
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="about-screen.html">
    <div screen="about">

        <!-- one way pass values to component -->
        <hero-item
                img="https://unsplash.it/1200/500/?random&123"
                heading="About Angular Base"
        ></hero-item>
    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <!-- one way pass values to component -->
        <hero-item
                img="https://unsplash.it/1200/500/?random"
                heading="Welcome to Angular Base"
        ></hero-item>

        <content-item>
            <content>
                <h1>What is this?</h1>

                <p>
                    Angular base is a project developed by
                    <a href="#">Nathan Nelson</a> to help get started with JavaScript, ES6 and single page app structure in Angular 1.5.
                </p>
            </content>
        </content-item>

    </div>
</script>
<script src="public/lib.js"></script>
<script src="public/app.js"></script>

</body>
</html>