choice-item {
  .choice {
    .choice-list {
      //background: white;
      //background: rgba(255,255,255,0.97);
      //border-right: 1px solid #eee;
      //border-bottom: 1px solid #eee;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: -15px 0px 15px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 3px;
      overflow: hidden;

      .list-item {
        flex: 1 0 calc(100% / 3);
        //border-top: 1px solid #eee;
        //border-left: 1px solid #eee;
        background: white;
        background: rgba(255,255,255,0.97);
        padding-top: calc(100% / 3);
        position: relative;

        //min-width: 150px;
        //min-height: 150px;
        transition: .3s;

        @media (max-width: 450px) {
          //flex: 1 0 calc(100% / 2);
          //padding-top: calc(100% / 2);
        }

        &:nth-child(2n) {
          background: transparentize(#f7f7f7, 0.1);
        }

        &:hover {
          //background: transparentize($primary, 0.8);
        }

        .item-content {
          padding: 10px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          color: #666;
          //color: $primary;
          border-bottom: 3px solid transparent;
          transition: .3s;

          &:hover {
            //border-bottom: 3px solid $primary;
            //color: $primary;
          }

          @media (max-width: 450px) {
            font-size: 10px;
          }

          img {
            height: 64px;
            margin-bottom: 15px;


            @media (max-width: 450px) {
              height: 40px;
              margin-bottom: 10px;

            }
          }
        }
      }

    }


  }
}