<script type="text/ng-template" id="choice.html">
    <div class="choice">
        <div class="container">
            <div class="choice-list">
                <div class="list-item">
                    <div class="item-content" ui-sref="documents({id:choice.userId})">
                        <img src="public/svg/cloud.svg" alt="">
                        ORACLE document repository
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/sign-2.svg" alt="">
                        Signed documents
                    </div>
                </div>
                <div class="list-item" ui-sref="verify({id:choice.userId})">
                    <div class="item-content">
                        <img src="public/svg/verify.svg" alt="">
                        Verify ID
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/messages.svg" alt="">
                        Messages
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/contact.svg" alt="">
                        Contact Details
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/calendar.svg" alt="">
                        Calendar
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/skills.svg" alt="">
                        Skills
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/link.svg" alt="">
                        External Services
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-content">
                        <img src="public/svg/phone-call.svg" alt="">
                        Call
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>