jobs-item {
  .jobs {

    .list-title {
      line-height: 40px;
      padding: 0 15px;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      background: $primary;
      color: white;
      //border-bottom: 1px solid #eee;
      //border-top: 1px solid #fff;
      display: none;
    }

    .jobs-list {
      background: white;
      //border: 1px solid #eee;
      margin: 15px 0px;
      margin: -15px 0px 15px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 8px;
      overflow: hidden;
      position: relative;

      .list-item {
        display: flex;
        height: 70px;
        padding: 5px;
        border-bottom: 1px solid #eee;
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }

        .list-icon {
          line-height: 60px;
          height: 60px;
          width: 60px;
          margin-right: 15px;
          text-align: center;
          font-size: 25px;
          //padding: 0 10px;
          background: $primary;
          color: white;
          border-radius: 3px;

          &.done {
            background: $secondary;
          }
        }

        .list-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;

          .content-title {
            color: $primary;
            font-weight: 600;
          }

          .content-subtitle {
            color: $body;
            font-weight: 400;
            font-size: 12px;
          }
        }

        .list-arrow {
          width: 70px;
          line-height: 70px;
          margin: -5px -5px -5px 0;
          cursor: pointer;
          border-left: 1px solid #eee;
          color: #666;
          text-align: center;
          font-size: 30px;

        }
      }

    }
  }
}