<script type="text/ng-template" id="splash.html">
    <div class="splash" ng-class="{active:splash.isActive()}">
        <div class="splash-header">
            <img src="public/svg/pen.svg" alt="" style="height: 60px;">
            Insignio</div>
        <div class="splash-form">
            <div class="form-label">
                <input type="text" class="form-input" placeholder="Your Email">
                <div class="form-line"></div>
                <input type="password" class="form-input" placeholder="Your Password">

                <div class="form-btn" ui-sref="home">Login</div>

                <div class="form-forgot">Forgot Password?</div>

            </div>
        </div>
    </div>
</script>