<script type="text/ng-template" id="sidebar.html">
    <div class="sidebar-bg" ng-class="{active:sidebar.isActive()}" ng-click="sidebar.hide()"></div>

    <div class="sidebar" ng-class="{active:sidebar.isActive()}">
        <div class="sidebar-header">
            <div class="close-sidebar" ng-click="sidebar.hide()">
                <i class="fa fa-times"></i>
            </div>
        </div>

        <div class="sidebar-items">
            <div class="sidebar-item" ui-sref="home"><i class="fa fa-home"></i> Home</div>
            <div class="sidebar-item"><i class="fa fa-cog"></i> My Details</div>
            <div class="sidebar-item" ui-sref="splash"><i class="fa fa-sign-out"></i> Logout</div>
        </div>

    </div>
</script>