sidebar-item {
  .sidebar-bg {
    position: fixed;
    z-index: 2999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.3s ease-out;
    visibility: hidden;


    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .sidebar {
    position: fixed;
    z-index: 3000;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transform: translateX(300px);
    //transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    transition: 0.3s ease-out;

    &.active {
      transform: translateX(0px);
    }

    .sidebar-header {
      height: 50px;
      font-size: 20px;
      line-height: 50px;
      background: white;
      display: flex;
      flex-direction: row;
      //border-bottom: 1px solid rgba(0,0,0,0.1);

      //background: rgba(0,0,0,0.9);

      .close-sidebar {
        display: flex;
        flex: 0 0 50px;
        text-align: center;
        color: $body;
        //color: white;
        cursor: pointer;
        margin-left: auto;
        justify-content: center;

        .fa {
          line-height: inherit;
        }
      }
    }

    .sidebar-items {
      display: flex;
      flex: 1;
      flex-direction: column;

      .sidebar-item {
        flex: 0 0 50px;
        padding: 0 15px;
        line-height: 50px;
        transition: .3s;
        font-weight: 600;
        //text-transform: uppercase;
        cursor: pointer;
        align-content: center;
        display: flex;
        //color: $primary;
        //border-left: 3px solid $primary;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        border-left: 3px solid transparent;

        &:hover {
          background: white;
          //background: $primary;
          border-left: 3px solid $primary;
        }

        .fa {

          color: rgba(0,0,0,0.6);
          font-size: 20px;
          line-height: inherit;
          margin-right: 15px;
        }
      }

    }
  }
}