<script type="text/ng-template" id="splash.html">
    <div class="splash" ng-class="{active:splash.isActive()}">
        <div class="splash-header">
            <img src="public/svg/pen.svg" alt="" style="height: 60px;">
            Insignio</div>
        <div class="splash-form">
            <div class="form-label">
                <input type="text" class="form-input" placeholder="Your User" ng-model="splash.user" ng-enter="splash.validate()">
                <div class="form-line"></div>
                <input type="password" class="form-input" placeholder="Your Password" ng-model="splash.pass" ng-enter="splash.validate()">

                <div class="form-btn" ng-click="splash.validate()">Login</div>

                <div class="form-forgot">Forgot Password?</div>

            </div>
        </div>
    </div>
</script>