html, body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  background: #f4f4f4; }

input, textarea {
  font-family: 'Source Sans Pro', sans-serif; }

body {
  min-width: 320px; }

.fa {
  line-height: inherit; }

[screen] {
  opacity: 0;
  padding-top: 50px;
  transition: .3s; }
  [screen].active {
    opacity: 1; }

header-item .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  header-item .header .header-menu {
    float: right; }
    header-item .header .header-menu .menu-item {
      float: left;
      line-height: 48px;
      padding: 0 20px;
      border-bottom: 2px solid white;
      transition: .3s;
      cursor: pointer; }
      header-item .header .header-menu .menu-item:hover {
        border-bottom: 2px solid #ccc; }
      header-item .header .header-menu .menu-item.active {
        border-bottom: 2px solid #0091de; }

content-item .content {
  font-size: 16px;
  font-weight: 300; }
  content-item .content h1, content-item .content h2, content-item .content h3, content-item .content h4, content-item .content p {
    margin: 10px 0 0;
    padding: 10px 0 0; }
  content-item .content h1 {
    font-size: 40px;
    font-weight: 100; }
  content-item .content p {
    font-size: 16px;
    font-weight: 300; }
    content-item .content p a {
      font-weight: 600;
      color: #0091de; }

hero-item .hero .hero-banner {
  height: 300px;
  position: relative;
  background: #eee;
  background-size: cover;
  background-position: center; }
  hero-item .hero .hero-banner .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-items: center;
    color: white;
    font-size: 50px;
    font-weight: 100; }
