<script type="text/ng-template" id="documents.html">
    <div class="documents">
        <div class="container">
            <div class="documents-upload" ng-hide="documents.signed">
                <div class="upload-button">
                    Upload &nbsp; <i class="fa fa-upload"></i>
                </div>
                <div class="upload-button">
                    Share &nbsp; <i class="fa fa-share-alt"></i>
                </div>

            </div>

            <div ng-transclude="docsList">

            </div>

        </div>
    </div>
</script>

<script type="text/ng-template" id="doc.html">

    <i class="fa fa-{{doc.icon}}"></i>
    <div>{{doc.name}}</div>
    <div class="signed" ng-if="doc.signed">
        <div class="fa-stack fa-lg">
            <i class="fa fa-certificate fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
        </div>
        &nbsp; signed
    </div>

    <div class="doc-content" ng-transclude="docContent"></div>
</script>