<script type="text/ng-template" id="documents.html">
    <div class="documents">
        <div class="container">
            <div class="documents-upload">
                <div class="upload-button">
                    Upload &nbsp; <i class="fa fa-upload fa-2x" style="align-self: flex-end"></i>
                </div>

            </div>

            <div class="documents-list">
                <div class="doc">
                    <i class="fa fa-folder"></i>
                    <div>Company Media</div>
                </div>

                <div class="doc">
                    <i class="fa fa-file-text"></i>
                    <div>CV.pdf</div>
                </div>

                <div class="doc">
                    <i class="fa fa-file-text"></i>
                    <div>Offer Letter.pdf</div>
                    <div class="signed"><i class="fa fa-check"></i> &nbsp; signed</div>
                </div>

                <div class="doc">
                    <i class="fa fa-file-text"></i>
                    <div>Company Structure.pdf</div>
                </div>
                <div class="doc">
                    <i class="fa fa-play-circle"></i>
                    <div>Company Intro Video.mpg</div>
                </div>



            </div>
        </div>
    </div>
</script>