alert-item {
  .alert-msg {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 20px;
    font-weight: 500;
    //text-transform: uppercase;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    //background: #c43e3f;
    //font-size: 10px;
    //background: $primary;
    //background: transparentize($primary, 0.2);
    background: rgba(255, 255, 255, 0.97);
    //background: rgba(0,0,0,0.4);
    //color: $primary;
    //color: white;
    z-index: 2000;
    //border-top: white 3px solid;
    //box-shadow: 0 0 5px rgba(0,0,0,0.15);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-55px);
    transition: .3s;

    &.active {
      transform: translateY(0);
    }

  }
}