<script type="text/ng-template" id="verify-id.html">
    <div class="container">
        <div class="verify-id">

            <div class="verify-item">
                <div style="position: relative" ng-if="verify.getImages()[0]">
                    <img ng-src="{{verify.getImages()[0]}}">
                </div>

                <div ng-if="!verify.getImages()[0]" class="item-msg">
                    Please upload a passport style portrait photo.
                </div>

                <label for="imgProfile">Upload Profile Picture &nbsp; <i class="fa fa-upload"></i></label>
                <input id="imgProfile" type="file" custom-on-change="verify.changeProfile" accept="image/*">
            </div>

            <div class="verify-item">
                <div style="position: relative" ng-if="verify.getImages()[1]">
                    <fake-loader></fake-loader>
                    <div class="fake-loader-1">
                        <h2>
                            <p>
                                Verifying... ID <br> <i class="fa fa-spin fa-cog" style="line-height: inherit"></i>
                            </p>
                        </h2>
                    </div>
                    <img class="fake-loader-2" style="display: none" ng-src="{{verify.getImages()[1]}}">
                </div>

                <div ng-if="!verify.getImages()[1]" class="item-msg">
                    Please upload a picture of your driving licence, birth certificate or passport.
                </div>

                <label for="imgID">Upload Proof of ID &nbsp; <i class="fa fa-upload"></i></label>
                <input id="imgID" type="file" custom-on-change="verify.changeID" accept="image/*">
            </div>


        </div>
    </div>

</script>