users-item {
  .users {

    .list-title {
      line-height: 40px;
      padding: 0 15px;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      background: $primary;
      color: white;
      //border-bottom: 1px solid #eee;
      //border-top: 1px solid #fff;
      display: none;
    }

    .users-list {
      background: white;
      //border: 1px solid #eee;
      margin: 15px 0px;
      margin: -15px 0px 15px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 3px;
      overflow: hidden;
      position: relative;

      .list-item {
        display: flex;
        height: 60px;
        //padding: 5px;
        border-bottom: 1px solid #eee;
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }

        .list-icon {
          line-height: 20px;
          height: 20px;
          //width: 60px;
          margin-right: 15px;
          margin: 20px 15px 0;
          width: 90px;
          text-align: center;
          font-size: 10px;
          font-weight: 700;
          //padding: 0 10px;
          background: #b7a217;
          color: white;
          border-radius: 3px;
          text-transform: uppercase;

          &.color-0 {
            background: #d44044;
          }

          &.color-1 {
            background: #ce7141;
          }

          &.color-2 {
            background: #cba448;
          }

          &.color-3 {
            background: #bed148;
          }

          &.color-4 {
            background: #2bce2a;
          }
        }

        .list-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          margin-left: 15px;

          .content-title {
            color: $primary;
            font-weight: 600;
          }

          .content-subtitle {
            color: $body;
            font-weight: 400;
            font-size: 12px;
          }
        }

        .list-arrow {
          width: 70px;
          line-height: 70px;
          margin: -5px -5px -5px 0;
          cursor: pointer;
          border-left: 1px solid #eee;
          color: #666;
          text-align: center;
          font-size: 30px;

        }
      }

    }
  }
}