<script type="text/ng-template" id="users.html">
    <div class="users">
        <div class="list-title">

            <div class="container">users
            </div>
        </div>

        <div class="container">
            <div class="users-list">
                <div class="list-item"
                     ng-repeat="user in users.users"
                     ui-sref="user({id:user.id})"
                >
                    <div class="list-content">
                        <div class="content-title">{{user.name}}</div>
                        <div class="content-subtitle">{{user.job}}</div>
                    </div>
                    <div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 0">Not Contacted</div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 1">Interview</div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 2">Pending Response</div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 3">Offer</div>
                        <div class="list-icon color-{{user.progress}}" ng-show="user.progress == 4">Accepted</div>

                    </div>
                    <div class="list-arrow"><i class="fa fa-angle-right"></i></div>
                </div>

            </div>
        </div>
    </div>
</script>